In [ ]:
INTRODUCTION TO SLICING OF LISTS:

In [1]:
my_students = ['sagarika','zainab','raju','shanab','niranjan','prasad','reema','jyotshna']
print(my_students)

['sagarika', 'zainab', 'raju', 'shanab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [2]:
type(my_students)

list

In [ ]:
req: slicing 2 persons in a single group

In [ ]:
general syntax of slicing:

In [ ]:
var[startvalue:stopvalue:stepcount]
#last value is always exclusive.........!

In [3]:
print(my_students[0:1])

['sagarika']

In [4]:
print(my_students[0:2])    #last value is always exclusive

['sagarika', 'zainab']

In [ ]:
req:raju and shainaab.....

In [5]:
print(my_students[2:4])

['raju', 'shanab']

In [6]:
print(my_students[4:6])

['niranjan', 'prasad']

In [7]:
print(my_students[6:8])

['reema', 'jyotshna']

In [8]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shanab', 'niranjan', 'prasad', 'reema', 'jyotshna']

req: to consider eery alternative name in the list....!

In [9]:
print(my_students[0:7:1])     #last value  is exclusive.....

['sagarika', 'zainab', 'raju', 'shanab', 'niranjan', 'prasad', 'reema']

In [10]:
print(my_students[0:8:2])

['sagarika', 'raju', 'niranjan', 'reema']

In [ ]:
introduction to negative indexing

In [11]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shanab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [12]:
print(my_students[7])

jyotshna

In [ ]:
-ve indexing will be starting from-1,-2,-3.....

In [13]:
print(my_students[-1])

jyotshna

In [14]:
print(my_students[-2])

reema

In [ ]:
#how do you print the list in a reverse order.....by using the indexing.......?

In [15]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shanab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [ ]:
#to print the below in a reverse order....!

In [16]:
print(my_students[::-1])

['jyotshna', 'reema', 'prasad', 'niranjan', 'shanab', 'raju', 'zainab', 'sagarika']

In [ ]:
introduction to range function

In [ ]:
general syntax of a range
var[start,stop,stepcount]

In [ ]:
i want to print the number from 1 to 30

In [17]:
number = list(range(1,30))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
req:i want to print only even numbers from 1-30

In [18]:
even_numbers = list(range(2,31,2))         #imp questions
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [19]:
odd_numbers = list(range(3,31,2))        #imp questions
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]